client/node_modules
server/node_modules
dist
dist-ssr
*.local


data
images

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# build remnants 
build.sh
cb-client-img
cb-server-img
client/public/SERVER_URL.js

*/.yarn/*
!*/.yarn/cache
!*/.yarn/patches
!*/.yarn/plugins
!*/.yarn/releases
!*/.yarn/sdks
!*/.yarn/versions
build-latest.sh
