services:
  carboy:
    container_name: carboy
    image: ghcr.io/rlparks/carboy:main
    ports:
      - 3000:3000
    restart: unless-stopped
    environment:
      POSTGRES_URL: postgres://root:carboypassword@carboy-db:5432/carboy
      BODY_SIZE_LIMIT: 15M
      # Analytics
      PUBLIC_RYBBIT_ID: 1
    depends_on:
      - carboy-db
    networks:
      - carboy
  carboy-db:
    image: postgres:18
    restart: unless-stopped
    ports:
      - 5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: carboypassword
      POSTGRES_DB: carboy
    volumes:
      - ./db:/var/lib/postgresql
    networks:
      - carboy
networks:
  carboy:
    external: false
